/*====================
=======Structure======
======================*/

body{
    background-color: hsl(300, 9%, 98%);
    display:flex; 
    flex-direction:column; 
    /* Margen exterior */
    /* AUTO = centra la caja en la página, dejando los mismos márgenes de ancho o laterales. */
    margin: 1em auto;
    /* altura mínima */
    min-height: 100vh;
    width: 90%;
}

/* valores proporcionales a la caja */
header{
    background-color: rgb(69, 124, 226);
    /* margen exterior div */
    margin: 1em 0;
    /* margen interior div */
    padding: 1em;
    height: 10v;
    /* elementos en fila */
    display: flex;
    /* (si en lugar de start utilizamos space-between , éste centraría los elementos...) y si queremos también espacio a los lados "space-around" */
    justify-content: space-between;
}

/* los valores son proporcionales a la caja, no a la pantalla completa */
main{
    margin: 1em 0;
    padding: 1em;
}

footer{
   
}



/*====================
========Columns=======
======================*/


.desktop-cuatro-columnas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-cuatro-columnas .columna{
    width: 22%;
}



.desktop-tres-columnas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-tres-columnas .columna{
    width: 30%;
}


.desktop-dos-columnas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-dos-columnas .columna{
    width: 48%;
}

.desktop-dos-columnas-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-dos-columnas-aside .columna-aside{
    width: 30%;
}

.desktop-dos-columnas-aside .columna-main{
    width: 65%;
}

.desktop-dos-columnas-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-dos-columnas-inline .columna{
    width: 48%;
}

.desktop-dos-columnas-inline .columna div{
    display: flex;
    margin-right: 1em;
}

.desktop-una-columna{
    width: 100%;
    margin-top: 1rem;
}

.desktop-una-columna .columna{
    width: 100%;
    margin-top: 1rem;
}

/*====================
======Typography======
======================*/

h1{
    font-size: 3em;
    font-weight: 600;
}

h2{
    font-size: 2em;
    font-weight: 600;
}

h3,h4,h5{
    font-size: 1em;
    font-weight: 1300;
    font-family: "Dancing Script";
}


h6{
    font-size: 2em;
    font-weight: 1500;
}


/*====================
========Image=========
======================*/
/* (imágenes de la web) */

img{
    width: 100%;
}

/*====================
========Header=========
======================*/

.logo-titulo{
    display: flex;
    justify-self: start;
}

.logo{
    width: max-content;
}

.logo svg{
    height: 13em;
    width: 13em;
}

.logo svg g{
    fill: black;
}

.titulo, .menu{
    margin: auto 0;
}

.menu li{
    font-size: 1.5em;
    font-weight: 300;
    display: inline;
    padding: 13px;
    background-color: rgb(242, 245, 247);
}

/*====================
========Slider======
======================*/

.slider{
    width: 100%;
}





/*====================
========Subtitle======
======================*/

.subtitulo{
    background-color: hsl(207, 85%, 69%);
    font-family: "dancing script";
    margin-top: .5em;
    padding: 0.2em 0;
    width: 100%;
    margin-bottom: 3rem;
}

.subtitulo h2{
    text-align: center;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
}


/*====================
========Animales=========
======================*/

.animales{
    display: flex;
    justify-content: space-between;
}

.animal{
    width: 25%;
}

.animal-titulo{
    margin: 0.5em 0;
}

.animal-titulo h3{
    color:hsl(318, 71%, 40%);
    font-size: 1.5em;
    text-align: center;
}


/*====================
========Contact========
======================*/

.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.contact-suscription-form{
    background-color: hsl(27, 79%, 65%);
}

.contact-form{
    width: 50%;
}

.contact-image{
    width: 40%;
}

.contact-image img{
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px #241a1a;
}

.contact-table-flex{
    /* margen exterior div */
    margin: 1em 0;
    /* margen interior div */
    padding: 1em;
    height: 10v;
    /* elementos en fila */
    display: grid;
    /* cajas por fila */
    grid-template-columns: 32% 68%;
    /* distancia de margen entre las cajas */
    grid-gap: 0.5em;
    font-size: 1.3em;
    font-weight: 1300;
}

.contact-form-input textarea{
    width: 100%;
}

.contact-form-input{
    width: 100%;
}

.contact-form-input input{
    width: 100%;
}



/*=============================
======información CONTACTO=====
===============================*/

.contacto-informacion-opcion{
    display: flex;
    flex-direction: inline;
    margin: auto;
    padding: 1rem 0;
}

.contacto-informacion-opcion-text{
    margin: auto 1rem;
}

.contacto-informacion-opcion-text span{
    font-size: 1.3rem;
    font-weight: bold;
}

.contacto-informacion-opcion-imagen svg path{
    fill:hsl(318, 71%, 40%);
}

.contacto-informacion-opcion-imagen svg{
    width: 2em;
    height: 2em;
}

.columna ul li{
    margin-right: 1rem;
    font-size: 1.1rem;
}



/*====================
==Formulario CONTACTO==
======================*/

.contact-form-input textarea{
    height: 10rem;
}

.contact-store-button{
    width: 30%;
    background-color: hsl(207, 85%, 69%);
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    margin: 0 35%;
    border-radius: 4%;
    font-weight: bold;
}

.contact-form-input{
    margin-bottom: 2rem;
}

.contact-form-label{
    margin-bottom: 0.5rem;
}

.form-contact{
    color:hsl(0, 0%, 6%);
    background-image: url("/images/fondo gaticos.jpg");
    padding: 0.8rem;
    font-weight: bold;
    font-size: 1.5rem;
}



/* ================= */
/* ======footer==== */
/* =============== */


.footer-element{
    text-align: center;
}





@media (max-width:479px) {

    /* ****Estructura**** */

    header{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin: 0;
        margin-bottom: 1em;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .logo-titulo{
        display: flex;
        justify-content: space-between;
    }

    .logo svg{
        height: 3em;
        width: 3em;
    }

    .titulo{
        font-size: 0.7em;
    }

    .menu li{
        font-size: 1em;
        font-weight: 300;
        display: inline;
        padding: 0.5 13px;
        background-color: rgb(242, 245, 247);
    }

    /* ******HOME****** */

    .subtitulo h2{
        font-size: 1.2em;
        text-shadow: none;
        margin: 0;
    }

    .subtitulo{
        margin-bottom: 1rem;
    }

    .animales{
        display: flex;
        flex-direction: column;
    }

    .animal{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.2em;
    }

    .animal-imagen{
        width: 30%;
    }

    .animal-titulo{
        width: 20%;
        font-size: 0.5em;
    }

    .animal-descripcion{
        width: 50%;
        font-size: 0.8em;
        background-color: rgb(114, 163, 219);
    }

    .contact{
        margin: 1em 0;
        padding: 1em 0;
        border-top: 1px solid #241a1a;
        border-bottom: 1px solid #241a1a;
    }

    .contact-form{
        font-size: 0.9em;
    }

    .contact__form-input input{
        width: 90%;
    }

    .contact-image{
        margin-top: 10%;
    }

    /*****CONTACTO***** */

    .desktop-dos-columnas{
        display: flex;
        flex-direction: column;
    }

    .desktop-dos-columnas .columna{
        width: 100%;
    }

    .contacto-informacion-opcion{
        padding: 0.2rem 0;
    }

    .google iframe{
        width: 100%;
        margin: 1em auto;
    }

    .form-contact{
        font-size: 1rem;
        margin: 1rem auto;
        border-style: solid;
    }

    .contact-form-input{
        margin-bottom: 0.5rem;
    }
    
    .contact-form-input textarea{
        height: 5rem;
    }

    .contact-store-button{
        width: 30%;
        padding: 5px;
        margin: 0 35%;
        border-radius: 4%;
        font-weight: bold;
        font-size: 1rem;
    }














    .mobile-one-column-inline .column{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }

    .mobile-three-columns .column{
        width: 30%;
    }

    .mobile-three-columns-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-three-columns-start .column{
        width: inherit;
    }

    .mobile-four-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-four-columns .column{
        width: 22%;
    }



    .header-menu{
        padding: 3% 5%;
        width: 90%;
    }


    .header-menu-access-login button{
        background-color: transparent;
        border: none;
        border-radius: 0.1rem;
        cursor: pointer;
        margin-right: 0.5rem;
        padding: 0.2rem 0.5rem;
    }

 
    
    .header-menu-access-login button svg {
        height: 1.5rem;
        overflow: hidden;
        vertical-align: middle;
    }




    .news h4{
        font-size: 1.1rem;
        line-height: 1.25em;
    }


    .news-text{
        display: flex;
        flex-direction: column;
    }
 
}

