/*====================
=======Structure======
======================*/

body{
    background-color: hsl(300, 9%, 98%);
    display:flex; 
    flex-direction:column; 
    /* Margen exterior */
    /* AUTO = centra la caja en la página, dejando los mismos márgenes de ancho o laterales. */
    margin: 1em auto;
    /* altura mínima */
    min-height: 100vh;
    width: 90%;
}

/* valores proporcionales a la caja */
header{
    background-color: rgb(69, 124, 226);
    /* margen exterior div */
    margin: 1em 0;
    /* margen interior div */
    padding: 1em;
    height: 10v;
    /* elementos en fila */
    display: flex;
    /* (si en lugar de start utilizamos space-between , éste centraría los elementos...) y si queremos también espacio a los lados "space-around" */
    justify-content: space-between;
}

/* los valores son proporcionales a la caja, no a la pantalla completa */
main{
    margin: 1em 0;
    padding: 1em;
}

footer{
   
}



/*====================
========Columns=======
======================*/


.desktop-cuatro-columnas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-cuatro-columnas .columna{
    width: 22%;
}



.desktop-tres-columnas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-tres-columnas .columna{
    width: 30%;
}


.desktop-dos-columnas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-dos-columnas .columna{
    width: 48%;
}

.desktop-dos-columnas-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-dos-columnas-aside .columna-aside{
    width: 20%;
}

.desktop-dos-columnas-aside .columna-main{
    width: 75%;
}

.desktop-dos-columnas-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-dos-columnas-inline .columna{
    width: 48%;
}

.desktop-dos-columnas-inline .columna div{
    display: flex;
    margin-right: 1em;
}

.desktop-una-columna{
    width: 100%;
    margin-top: 1rem;
}

.desktop-una-columna .columna{
    width: 100%;
    margin-top: 1rem;
}

/*====================
======Typography======
======================*/

h1{
    font-size: 3em;
    font-weight: 600;
}

h2{
    font-size: 2em;
    font-weight: 600;
}

h3,h4,h5{
    font-size: 1em;
    font-weight: 1300;
    font-family: "Dancing Script";
}


h6{
    font-size: 2em;
    font-weight: 1500;
}


/*====================
========Image=========
======================*/
/* (imágenes de la web) */

img{
    width: 100%;
}

/*====================
========Header=========
======================*/

.logo-titulo{
    display: flex;
    justify-self: start;
}

.logo{
    width: max-content;
}

.logo svg{
    height: 13em;
    width: 13em;
}

.logo svg g{
    fill: black;
}

.titulo, .menu{
    margin: auto 0;
}

.menu li{
    font-size: 1.5em;
    font-weight: 300;
    display: inline;
    padding: 13px;
    background-color: rgb(242, 245, 247);
}

/*====================
========Slider======
======================*/

.slider{
    width: 100%;
}





/*====================
========Subtitulo=====
======================*/

.subtitulo{
    background-color: hsl(207, 85%, 69%);
    font-family: "dancing script";
    margin-top: .5em;
    padding: 0.2em 0;
    width: 100%;
    margin-bottom: 3rem;
}

.subtitulo h2{
    text-align: center;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
}


/*====================
========Animales=========
======================*/

.animales{
    display: flex;
    justify-content: space-between;
}

.animal{
    width: 25%;
}

.animal-titulo{
    margin: 0.5em 0;
}

.animal-titulo h3{
    color:hsl(318, 71%, 40%);
    font-size: 1.5em;
    text-align: center;
}


/*====================
========Contacto=======
======================*/

.home .contact{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.home .contact-suscription-form{
    background-color: hsl(27, 79%, 65%);
}

.home .contact-form{
    width: 50%;
}

.home .contact-image{
    width: 40%;
}

.home .contact-image img{
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px #241a1a;
}

.home .contact-table-flex{
    /* margen exterior div */
    margin: 1em 0;
    /* margen interior div */
    padding: 1em;
    height: 10v;
    /* elementos en fila */
    display: grid;
    /* cajas por fila */
    grid-template-columns: 32% 68%;
    /* distancia de margen entre las cajas */
    grid-gap: 0.5em;
    font-size: 1.3em;
    font-weight: 1300;
}

.home .contact-form-input textarea{
    width: 100%;
}

.home .contact-form-input{
    width: 100%;
}

.home .contact-form-input input{
    width: 100%;
}



/*=============================
===html CONTACTO información===
===============================*/

.contacto-informacion-opcion{
    display: flex;
    flex-direction: inline;
    margin: auto;
    padding: 1rem 0;
}

.contacto-informacion-opcion-text{
    margin: auto 1rem;
}

.contacto-informacion-opcion-text span{
    font-size: 1.3rem;
    font-weight: bold;
}

.contacto-informacion-opcion-imagen svg path{
    fill:hsl(318, 71%, 40%);
}

.contacto-informacion-opcion-imagen svg{
    width: 2em;
    height: 2em;
}

.columna ul li{
    margin-right: 1rem;
    font-size: 1.1rem;
}



/*==========================
==html CONTACTO formulario==
============================*/

.contact-form-input textarea{
    width: 100%;
    height: 10rem;
}

.contact-store-button{
    width: 30%;
    background-color: hsl(207, 85%, 69%);
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    margin: 0 35%;
    border-radius: 4%;
    font-weight: bold;
}

.contact-form-input input{
    margin-bottom: 2rem;
    width: 100%;
}

.contact-form-label{
    margin-bottom: 0.5rem;
}


.form-contact{
    color:hsl(0, 0%, 6%);
    background-image: url("/images/fondo gaticos.jpg");
    padding: 0.8rem;
    font-weight: bold;
    font-size: 1.5rem;
}



/* ======================== */
/* =====html GALERIA====== */
/* ====================== */

.categoria-galeria li{
    color:hsl(318, 71%, 40%);
    font-size: 2rem;
    text-align: center;
    border: solid;
    border-radius: 3%;
}

.columna-main-galeria .selector{
    background-color: hsl(199, 87%, 69%);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: space-between;
    margin-bottom: 2rem;
    text-align: center;
}

.columna-main-galeria span{
    font-size: 1.5rem;
}

.galeria .animal{
    margin-bottom: 2rem;
    text-align: center;
}

.galeria h3{
    font-size: 2rem;
    color: hsl(318, 71%, 40%);
}

.galeria p{
    font-weight: bold;
}



/* ===================== */
/* =====html FICHA===== */
/* =================== */

.ficha .foto-ficha{
    margin-top: 0.5rem;
}

.ficha .subfotos-ficha{
    width: 100%;
    display: flex;
    flex-direction: space-between;
    margin-top: 5rem;
}

.ficha .subfoto-imagen{
    width: 18%;
    margin: 1%;
}




.ficha .coste{
    width: 100%;
    display:flex;
    flex-direction: space-between;
    margin-bottom: 3rem;
}


.ficha .coste h3{
    font-size: 4rem;
    color: hsl(318, 71%, 40%);
    margin-left: 3rem;
    width: 30%;
}

.ficha .coste span{
    background-color: hsl(319, 65%, 83%);
    font-size: 1.5rem;
    width: 65%;
}

.ficha .descripcion{
    border: solid;
    border-color: hsl(318, 71%, 40%);
    padding: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

h7{
    font-size: 1.3rem;
    text-decoration: underline wavy hsl(320, 83%, 76%) 3px;
}

.ficha .descripcion p{
    margin: 1rem 0;
    text-align: justify;
}


.ficha .video-descripcion{
    margin: 2rem;
}

.ficha .cantidad{
    display: inline;
}

.ficha .cantidad-acogida{
    display: flex;
    flex-direction: inline;
    margin: 1rem;
}

.ficha .cantidad-acogida .titulo-cantidad-acogida{
    width: 70%;
    margin-top: 3%;
}

.ficha .botones-cantidad{
    margin: 1rem;

}

.ficha .cantidad input{
    width: 15%;
    margin-bottom: 2rem;
}


.ficha .cantidad span{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2rem;
    text-align: justify;
}


.ficha .botones-adopcion-acogida{
    display: flex;
    flex-direction: space-between;
}

.ficha .botones-adopcion-acogida button{
    margin-left: 5rem;
    height: 3rem;
    width: 10rem;
    font-weight: bold;
}

.ficha .boton-acogida button{
    background-color: hsl(308, 82%, 85%);
}

.ficha .boton-adopcion button{
    background-color:  hsl(199, 87%, 69%);
}




/* ===================== */
/* =====html CESTA===== */
/* =================== */


.tabla-cesta{
    width: 80%;
    text-align: center;
    margin: 0% 10%;
    border: solid;
}

.tabla-cesta .producto{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: inline;
}

.tabla-cesta th{
    background-color: rgb(248, 207, 240);
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.tabla-cesta td{
    color:hsl(318, 71%, 40%);
    font-weight: bold;
    font-size: 1.8rem;
    width: 20%;
}

.tabla-cesta input{
    width: 10%;
}

.cesta .desktop-dos-columnas-inline .columna-imagen{
    margin-left: 5rem;
}

.cesta .desktop-dos-columnas-inline .columna-sumatorio{
    width: 50%;
    margin-right: 7rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.5rem;

}

.columna-sumatorio th{
    text-align: left;
}

.columna-sumatorio td{
    width: 10%;
    text-align: right;
}

.columna-sumatorio .total{
    color:hsl(318, 71%, 40%);
}

.cesta .botones{
    width: 100%;
    margin: 5rem;
    display: flex;
    font-size: 2rem;
}
.cesta .botones button{
    background-color:  hsl(199, 87%, 69%);
    height: 3rem;
    width: 20rem;
    margin: auto 5rem;
    font-weight: bold;
}



/* ===================== */
/* =====html CESTA===== */
/* =================== */

.form-contact{
    color:hsl(0, 0%, 6%);
    background-image: none;
    padding: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.checkout .columna .subtitulo-resumen{
    background-color: rgb(247, 177, 241);
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

h8{
    font-family: "Dancing Script";
    font-size: 3rem;
}

.checkout .columna .resumen-de-producto{
    font-size: 0.6rem;
}

.checkout .tabla-cesta {
    margin-bottom: 2rem;
}

.checkout .columna-sumatorio{
    margin-left: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.checkout .forma-de-pago{
    background-color: rgb(240, 209, 233);
    margin-left: 3rem;
    font-size: 1.5rem;
}

.checkout .forma-de-pago h7{
    text-decoration: underline hsl(320, 83%, 76%) 3px;
    font-weight: bold;
    margin: 1rem;
}

.checkout .tabla-forma-de-pago img{
    width: 3rem;
    height: 2rem;
    margin: auto 3rem;
}

.checkout .tabla-forma-de-pago th{
    width: 30%;
    padding: 0.3rem 0.5rem;
}

.checkout .forma-de-pago button{
    margin: 1rem 50%;
}



/* ================= */
/* ======footer==== */
/* =============== */


.footer-element{
    text-align: center;
}





@media (max-width:479px) {

    /* ****Estructura**** */

    header{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin: 0;
        margin-bottom: 1em;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .logo-titulo{
        display: flex;
        justify-content: space-between;
    }

    .logo svg{
        height: 3em;
        width: 3em;
    }

    .titulo{
        font-size: 0.7em;
    }

    .menu li{
        font-size: 0.7em;
        font-weight: 300;
        display: inline;
        padding: 0.1 13px;
        background-color: rgb(242, 245, 247);
    }

    /* ******html HOME****** */

    .subtitulo h2{
        font-size: 1.2em;
        text-shadow: none;
        margin: 0;
    }

    .subtitulo{
        margin-bottom: 1rem;
    }

    .animales{
        display: flex;
        flex-direction: column;
    }

    .animal{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.2em;
    }

    .animal-imagen{
        width: 30%;
    }

    .animal-titulo{
        width: 20%;
        font-size: 0.5em;
    }

    .animal-descripcion{
        width: 50%;
        font-size: 0.8em;
        background-color: rgb(114, 163, 219);
    }

    .contact{
        margin: 1em 0;
        padding: 1em 0;
        border-top: 1px solid #241a1a;
        border-bottom: 1px solid #241a1a;
    }

    .contact-form{
        font-size: 0.9em;
    }

    .contact__form-input input{
        width: 90%;
    }

    .contact-image{
        margin-top: 10%;
    }

    /*****html CONTACTO***** */

    .desktop-dos-columnas{
        display: flex;
        flex-direction: column;
    }

    .desktop-dos-columnas .columna{
        width: 100%;
    }

    .contacto-informacion-opcion{
        padding: 0.2rem 0;
    }

    .contacto-informacion .google iframe{
        width: 100%;
        margin: 1em auto;
    }

    .form-contact{
        font-size: 1rem;
        margin: 1rem auto;
        border-style: solid;
    }

    .contact-form-input{
        margin-bottom: 0.5rem;
    }
    
    .contact-form-input textarea{
        height: 5rem;
    }

    .contact-store-button{
        width: 30%;
        padding: 5px;
        margin: 0 35%;
        border-radius: 4%;
        font-weight: bold;
        font-size: 1rem;
    }



    /* *****html GATOS***** */

    .galeria .desktop-dos-columnas-aside{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .galeria .columna-categoria{
        width: 100%;
    }

    .galeria .columna-categoria li{
        font-size: 1.3rem;
    }

    .galeria .columna-main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .galeria .columna-main span{
        font-size: 1rem;
    }

    .galeria .columna-main .boton-selector{
        background-color: hsl(197, 76%, 87%);
        padding-top: 13%;
        font-size: 1rem;
    }

    .galeria .galeria-animales{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    .galeria-animales .desktop-tres-columnas .animal{
        display: flex;
        flex-direction: column;
    }

    .galeria-animales h3{
        font-size: 1rem;
    }

    .galeria-animales img{
        width: 90%;
    }



    /* ******html FICHA****** */

    .ficha{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .ficha .foto-ficha, .ficha .subfotos-ficha{
        margin: 0;
    }

    .ficha .coste h3{
        font-size: 2rem;
        margin: auto;
    }

    .ficha .coste span{
        font-size: 1rem;
    }

    .ficha .descripcion{
        padding: 1rem;
        margin-bottom: 0;
    }

    .ficha .video-descripcion{
        margin: 0;
    }

    .ficha .descripcion iframe{
        width: 18rem;
        height: 10rem;
    }

    .ficha .cantidad{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ficha .cantidad span{
        margin: none;
        text-align: justify;
        font-size: 0.8rem;
    }

    .ficha .cantidad .botones-cantidad{
        margin: none;
        width: 100%;
    }

    .ficha .botones-adopcion-acogida{
        margin-bottom: 3rem;
    }

    .ficha .botones-adopcion-acogida button{
        margin-left:0.1rem;
    }
    
    
    
    /* ******html CESTA****** */

    .cesta .tabla-cesta{
        width: 100%;
        margin: 0;
    }

    .cesta .tabla-cesta th, .cesta .tabla-cesta td{
        font-size: 0.6rem;
    }

    .cesta .desktop-dos-columnas-inline .columna-imagen{
        margin-left: 0.5rem;
    }

    .cesta .desktop-dos-columnas-inline .columna-sumatorio {
        width: 100%;
        margin-right: 1rem;
        margin-top: 3rem;
        font-weight: bold;
        font-size: 0.5rem;
    }
    

    .cesta .columna .botones{
        width: 100%;
        margin: 2rem;
        display: flex;
    }

  
    .cesta .columna .botones button{
        font-size: 1rem;
        width: 80%;
        margin: auto 1rem;
    }

    .cesta .columna .botones .boton-pagar{
        margin-top: 0.5rem;
    }



    /* ******html CHECKOUT****** */

    .checkout .contact-form-input input{
        margin-bottom: 0;
    }

    .checkout .columna .subtitulo-resumen{
        margin-left: 0;
        margin-bottom: 1rem;
    }

    h8 {
        font-size: 2rem;
    }

    .tabla-cesta{
        margin: 10%;
    }

    .tabla-cesta th{
        padding: 0.1rem;
        font-size: 0.6rem;
    }

    .tabla-cesta td{
        font-size: 1rem;
        width: 0;
    }

    .checkout .columna-sumatorio{
        margin-left: 0;
    }

    .checkout .forma-de-pago{
        margin-left: 0;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .checkout .tabla-forma-de-pago th{
        padding: 0.1rem;
        margin: 0;
    }

}

