.ficha{
    @include display-secundario;
    width: 100%;
    margin: 0;

    .foto-ficha {
        margin: 0;
    }

    .subfotos-ficha{
        margin: 0;
    }

    .coste{
        h3{
            font-size: 2rem;
            margin: auto;
        }

        span{
            font-size: 1rem;
        }
    }

    .descripcion{
        padding: 1rem;
        margin-bottom: 0;

        .video-descripcion{
            margin: 0;

            iframe{
                width: 18rem;
                height: 10rem;
            }
        }
    }

    .cantidad{
        width: 100%;
        @include display-secundario;

        span{
            margin: none;
            text-align: justify;
            font-size: 0.8rem;
        }

        .botones-cantidad{
            margin: none;
            width: 100%;
        }
    }
    
    .botones-adopcion-acogida{
        margin-bottom: 3rem;

        button{
            margin-left:0.1rem;
        }
    }
}





// -----------------------------------------------------
