.checkout{
    .contact-form-input input{
        margin-bottom: 0;
    }

    .subtitulo-resumen{
        margin-left: 0;
        margin-bottom: 1rem;

        h8 {
            font-size: 2rem;
        }
    }

    .tabla-cesta{
        margin: 10%;

        th{
            padding: 0.1rem;
            font-size: 0.6rem;
        }

        td{
            font-size: 1rem;
            width: 0;
        }
    }

    .columna-sumatorio{
        margin-left: 0;
    }

    .forma-de-pago{
        margin-left: 0;
        font-size: 1.1rem;
        margin-bottom: 1rem;

        .tabla-forma-de-pago th{
            padding: 0.1rem;
            margin: 0;
        }
    }
}




// ----------------------------------------------------------------