h1{
    font-size: 3em;
    font-weight: 600;
}

h2{
    font-size: 2em;
    font-weight: 600;
}

h3,h4,h5{
    font-size: 1em;
    font-weight: 1300;
    font-family: $font-stack;
}


h6{
    font-size: 2em;
    font-weight: 1500;
}

