.contacto{
    .contacto-informacion{
        .contacto-informacion-opcion{
            display: flex;
            flex-direction: inline;
            margin: auto;
            padding: 1rem 0;

            .contacto-informacion-opcion-imagen{
                svg{
                    width: 2em;
                    height: 2em;

                    path{
                        fill: $primer-color;
                    }
                }
            }

            .contacto-informacion-opcion-text{
                margin: auto 1rem;

                span{
                    font-size: 1.3rem;
                    font-weight: bold;
                }
            }
        }
    }

    .form-contact{
        color:hsl(0, 0%, 6%);
        background-image: url("/images/fondo gaticos.jpg");
        padding: 0.8rem;
        font-weight: bold;
        font-size: 1.5rem;

        .contact-form-label{
            margin-bottom: 0.5rem;
        }

        .contact-form-input{
            input{
                margin-bottom: 2rem;
                width: 100%;
            }

            textarea{
                width: 100%;
                height: 10rem;
            }
        }

        .contact-store-button{
            width: 30%;
            background-color: $segundo-color;
            color: rgb(14, 13, 13);
            padding: 14px 20px;
            margin: 0 35%;
            border-radius: 4%;
            font-weight: bold;
        }
    }
}

