.contacto{
    .desktop-dos-columnas{
        @include display-secundario;

        .columna{
            width: 100%;

            .contacto-informacion{
                .contacto-informacion-opcion{
                    display: flex;
                    flex-direction: inline;
                    margin: auto;
                    padding: 1rem 0;
        
                    .contacto-informacion-opcion-imagen{
                        svg{
                            width: 2em;
                            height: 2em;
        
                            path{
                                fill: $primer-color;
                            }
                        }
                    }
        
                    .contacto-informacion-opcion-text{
                        margin: auto 1rem;
        
                        span{
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                }

                .google iframe{
                    width: 100%;
                    margin: 1em auto;
                }
            }
        
            .form-contact{
                color:hsl(0, 0%, 6%);
                background-image: url("/images/fondo gaticos.jpg");
                padding: 0.8rem;
                font-weight: bold;
                font-size: 1rem;
                margin: 1rem auto;
                border-style: solid;
        
                .contact-form-label{
                    margin-bottom: 0.5rem;
                }
        
                .contact-form-input{
                    input{
                        margin-bottom: 2rem;
                        width: 100%;
                    }
        
                    textarea{
                        width: 100%;
                        height: 5rem;
                    }
                }
        
                .contact-store-button{
                    width: 30%;
                    background-color: $segundo-color;
                    color: rgb(14, 13, 13);
                    padding: 5px;
                    margin: 0 35%;
                    border-radius: 4%;
                    font-weight: bold;
                    font-size: 1rem;
                }

                #alerta{
                    background-color: $tercer-color;
                    position: fixed;
                    right: 10%;
                    width: 20%;
                    font-size: 1rem;
                    font-weight: 100;
                    bottom: 11vh;
                    padding: 0 2%;
                    opacity: 0;
            
                    &.active{
                        opacity: 1;
                    }

                    &.exito{
                        background-color: hsl(120, 100%, 25%);
                    }

                    &.error{
                        background-color: hsl(0, 100%, 25%);
                    }
                }
            }
        }
    }
}

