.contacto{
    .desktop-dos-columnas{
        @include display-secundario;

        .columna{
            width: 100%;

            .contacto-informacion{
                .contacto-informacion-opcion{
                    padding: 0.2rem 0;
                }

                .google iframe{
                    width: 100%;
                    margin: 1em auto;
                }
            }

            .form-contact{
                font-size: 1rem;
                margin: 1rem auto;
                border-style: solid;

                .contact-form-input{
                    margin-bottom: 0.5rem;

                    textarea{
                        height: 5rem;
                    }
                }

                .contact-store-button{
                    width: 30%;
                    padding: 5px;
                    margin: 0 35%;
                    border-radius: 4%;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
    }
}




// -----------------------------------------------------------------------------------