header{
    background-color: rgb(69, 124, 226);
    margin: 0;
    padding: 1em;
    height: 10v;
    @include display-secundario;


    .logo-titulo{
		@include display-principal;

        .logo{
            width: max-content;

            svg{
                height: 13em;
                width: 13em;

                g{
                    fill: black;
                }
            }
        }

        .titulo{
			font-size: 0.7em;
            margin: auto 0;
        }
    }

    .menu{
        margin: auto 0;

        li{
            font-size: 0.7em;
            font-weight: 300;
            display: inline;
            padding: 0.1 13px;
            background-color: $cuarto-color;
        }
    }
}


