header{
    @include display-secundario;
	padding: 1em;
	margin: 0;
	margin-bottom: 1em;

	.logo-titulo{
		@include display-principal;

		.logo svg{
			height: 3em;
			width: 3em;
		}

		
		.titulo{
			font-size: 0.7em;
		}
    }

	.menu li{
        font-size: 0.7em;
        font-weight: 300;
        display: inline;
        padding: 0.1 13px;
        background-color: $cuarto-color;
    }
}




// --------------------------------------------------------------------------
  


