.galeria{
    .desktop-dos-columnas-aside{
        width: 100%;
        @include display-secundario;

        .columna-categoria{
            width: 100%;

            li{
                font-size: 1.3rem;
            }
        }

        .columna-main{
            width: 100%;
            @include display-secundario;

            .selector{
                span{
                    font-size: 1rem;
                }

                .boton-selector{
                    background-color: hsl(197, 76%, 87%);
                    padding-top: 13%;
                    font-size: 1rem;
                }
            }

            .galeria-animales{
                width: 100%;
                @include display-secundario;
                font-size: 0.7rem;
                margin-bottom: 1rem;

                .desktop-tres-columnas .animal{
                    @include display-secundario;

                    h3{
                        font-size: 1rem;
                    }

                    img{
                        width: 90%;
                    }
                }
            }
        }
    }
}




// ----------------------------------------------------------------------