.cesta{
    .tabla-cesta{
        width: 80%;
        text-align: center;
        margin: 0% 10%;
        border: solid;

        th{
            background-color: rgb(248, 207, 240);
            padding: 1rem;
            font-size: 1.3rem;
            font-weight: bold;
        }

        td{
            color: $primer-color;
            font-weight: bold;
            font-size: 1.8rem;
            width: 20%;

            input{
                width: 10%;
            }
        }
    }

    .desktop-dos-columnas-inline{
        .columna-imagen{
            margin-left: 5rem;
        }

        .columna-sumatorio{
            width: 50%;
            margin-right: 7rem;
            margin-top: 3rem;
            font-weight: bold;
            font-size: 1.5rem;

            .total{
                color: $primer-color;
            }

            th{
                text-align: left;
            }

            td{
                width: 10%;
                text-align: right;
            }
        }
    }

    .botones{
        width: 100%;
        margin: 5rem;
        display: flex;
        font-size: 2rem;

        button{
            background-color:  $tercer-color;
            height: 3rem;
            width: 20rem;
            margin: auto 5rem;
            font-weight: bold;
        }
    }
}

